.html-energy-page {
    background-color: white;
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    color: #297702;
}

.html-energy-page a {
    color: #297702;
}

.html-energy-page a {
    text-decoration-line: underline;
}

.center-container {
    max-width: 600px;
    color: #48b611;
    margin: auto;
    padding: 100px;
}

.flower {
    min-width: 50px;
    width: 100%;
    opacity: 0.5;
    color: #297702;
    line-height: .3;
}

#flower {
    opacity: 0.5;
}

.bouquet {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.image-map {
    width: 100%;
    height: 95vh;
}

.area-button {
    background-color: red;
}

area {
    cursor: pointer;
}